Correction_eff_XML_Th_EFF/test/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="group">
    <xsd:complexType>
    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
        <xsd:element name="stagiaire">
        <xsd:complexType>
        <xsd:sequence minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="nom" type="xsd:string"/>
            <xsd:element name="prenom" type="xsd:string"/>
            <xsd:element name="age" type="xsd:string"/>
        </xsd:sequence>
        </xsd:complexType>
        </xsd:element>
    </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
</xsd:schema>
