Correction_eff_XML_Th_EFF/EFF_2015/dtd_file1.dtd

<!ELEMENT seances (seance+)>
<!ATTLIST seance jour CDATA #REQUIRED
                 debuE CDATA #REQUIRED
                 fin CDATA #REQUIRED
>
<!ELEMENT seance (salle,module,formateur,groupe)>
<!ELEMENT salle (#PCDATA)>
<!ELEMENT module (#PCDATA)>
<!ELEMENT formateur (#PCDATA)>
<!ELEMENT groupe (#PCDATA)>