Correction_eff_XML_Th_EFF/EFF_2014/dtd_file0.dtd

<!ELEMENT FOOT (JOURNEE+)>
<!ATTLIST FOOT DIVISION CDATA #REQUIRED>
<!ELEMENT JOURNEE (MATCH+)>
<!ATTLIST JOURNEE NUMERO CDATA #REQUIRED
                  DATE CDATA #REQUIRED
>
<!ELEMENT MATCH EMPTY>
<!ATTLIST MATCH LOCAUX CDATA #REQUIRED
                VISITEURS CDATA #REQUIRED
                BUTS_LOCAUX CDATA #REQUIRED
                BUTS_VISITEURS CDATA #REQUIRED
>
